@model AandPManagement.Models.Asset

@{
    ViewData["Title"] = "Create";
}

<h2>Create New</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Asset</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AssetSerialNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetSerialNumber" class="form-control" />
                <span asp-validation-for="AssetSerialNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetDescription" class="form-control" />
                <span asp-validation-for="AssetDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetConnections" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetConnections" class="form-control" />
                <span asp-validation-for="AssetConnections" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetPressureRating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetPressureRating" class="form-control" />
                <span asp-validation-for="AssetPressureRating" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetDimensions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetDimensions" class="form-control" />
                <span asp-validation-for="AssetDimensions" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetWeight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetWeight" class="form-control" />
                <span asp-validation-for="AssetWeight" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetLocation" class="form-control" />
                <span asp-validation-for="AssetLocation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetAnualTestDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetAnualTestDate" class="form-control" />
                <span asp-validation-for="AssetAnualTestDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetMajorTestDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetMajorTestDate" class="form-control" />
                <span asp-validation-for="AssetMajorTestDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetLiftDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetLiftDate" class="form-control" />
                <span asp-validation-for="AssetLiftDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetVisualTestDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetVisualTestDate" class="form-control" />
                <span asp-validation-for="AssetVisualTestDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetMPITestDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetMPITestDate" class="form-control" />
                <span asp-validation-for="AssetMPITestDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetCOCDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetCOCDate" class="form-control" />
                <span asp-validation-for="AssetCOCDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="COC" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="COC" class="form-control" />
                <span asp-validation-for="COC" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
